#top {
	background-color: #001489;
	color: white;
	margin-left: -.75vw;
	margin-right: -.75vw;
	margin-top: -1.5vw;
	padding: 2vw;
	text-align: center
}
.whitetext {
	display: inline-block;
	width: 12vw;
	font-size: 1.25vw;
	vertical-align: top;
	padding-right: -2vw;
}
#problemchild {
	width: 15vw;
}
#stmalogo {
	margin-top: 0vw;
	margin-bottom: 2vw;
	margin-left: 2vw;
}
#disthome, #ourschools {
	vertical-align: top;
	background-color: #001489;
	color: white;
	display: inline-block;
	padding: 1vw;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	margin-top: 3vw;
}
#disthome {
	margin-left: 30vw;
}
#ourschools {
	margin-left: .9vw;
}
#search {
	vertical-align: top;
	display: inline-block;
	background-color: #ffd400;
	padding: 1vw;
	padding-left: 1.45vw;
	padding-right: 1.45vw;
	margin-top: 3vw;
	margin-left: 0.9vw;
}