body {
	background-color: #702082;
}

.title {
	text-align: center;
	border: 1px solid black;
	padding: 20px;
	letter-spacing: 2px;
	font-size: 5vw;
	background-color: #A77BCA;
}

.links {
	display: inline-block;
	width: 20vw;
	font-size: 1.5vw;
	text-align: center;
	padding: 10px;
}
.smalltitle {
	display: inline-block;
	width: 20vw;
	font-size: 2.5vw;
	text-align: center;
	padding-top: 1vw;
}
#linktree {
	border: 1px solid black;
	width: 21vw;
	display: inline-block;
	height: 25vw;
	vertical-align: top;
	margin-top: -3vw;
	background-color: white;
}

#aboutme {
	border: 1px solid black;
	width: 70vw;
	display: inline-block;
	height: 15vw;
	vertical-align: top;
	margin-top: -3vw;
	background-color: white;
}
.aboutmetext {
	font-size: 2vw;
	padding: 1vw;
}
.penguin {
	display: block;
	overflow: auto;
}
.row1 {
	display: inline-block;
	border: 1px solid black;
	width: 160px;
	height: 100px;
	vertical-align: bottom;
	padding: 10px;
	margin-bottom: 2px;
	margin-top: -3px;
	margin-left: -3px;
	margin-right: -1px;
}
#tbellimage {
	display: inline-block;
	margin-left: 21.5vw;
	margin-top: -9.5vw
}
.text  {
	background-color: white;
	width: 30vw;
}
.classmateslinks  {
	background-color: white
}
#minus, #plus, #number{
	display: inline-block;
}